id: 'agda'
name: 'Agda'
type: 'tree-sitter'
parser: 'tree-sitter-agda'
legacyScopeName: 'source.agda'
#
fileTypes: ['agda']

scopes:
    'source_file': 'source.agda'

    'comment': 'comment.block'
    'pragma_name': 'keyword.other'

    '"module"': 'keyword.other'
    '"where"': 'keyword.other'

comments:
    start: '-- '
