id: 'agda'
name: 'Agda'
type: 'tree-sitter'
parser: 'tree-sitter-agda'
legacyScopeName: 'source.agda'
#
fileTypes: ['agda']

comments:
    start: '--'


scopes:
    'source_file': 'source.agda'
    'comment': 'comment.block'

    '"∀"': 'keyword.operator.agda'
    '"forall"': 'keyword.operator.agda'
    '"→"': 'keyword.operator.agda'
    '"->"': 'keyword.operator.agda'


    '"abstract"': 'keyword.other'
    '"codata"': 'keyword.other'
    '"coinductive"': 'keyword.other'
    '"constructor"': 'keyword.other'
    '"data"': 'keyword.other'
    '"eta-equality"': 'keyword.other'
    '"field"': 'keyword.other'
    '"forall"': 'keyword.other'
    '"hiding"': 'keyword.other'
    '"import"': 'keyword.other'
    '"inductive"': 'keyword.other'
    '"infix"': 'keyword.other'
    '"infixl"': 'keyword.other'
    '"infixr"': 'keyword.other'
    '"instance"': 'keyword.other'
    '"overlap"': 'keyword.other'
    '"let"': 'keyword.other'
    '"macro"': 'keyword.other'
    '"module"': 'keyword.other'
    '"mutual"': 'keyword.other'
    '"no-eta-equality"': 'keyword.other'
    '"open"': 'keyword.other'
    '"pattern"': 'keyword.other'
    '"postulate"': 'keyword.other'
    '"primitive"': 'keyword.other'
    '"private"': 'keyword.other'
    '"Prop"': 'keyword.other'
    '"public"': 'keyword.other'
    '"quote"': 'keyword.other'
    '"quoteContext"': 'keyword.other'
    '"quoteGoal"': 'keyword.other'
    '"quoteTerm"': 'keyword.other'
    '"record"': 'keyword.other'
    '"renaming"': 'keyword.other'
    '"rewrite"': 'keyword.other'
    '"Set"': 'keyword.other'
    '"syntax"': 'keyword.other'
    '"tactic"': 'keyword.other'
    '"to"': 'keyword.other'
    '"unquote"': 'keyword.other'
    '"unquoteDecl"': 'keyword.other'
    '"unquoteDef"': 'keyword.other'
    '"using"': 'keyword.other'
    '"where"': 'keyword.other'
    '"do"': 'keyword.other'
    '"with"': 'keyword.other'
    '"in"': 'keyword.other'
    '"BUILTIN"': 'keyword.other'
    '"CATCHALL"': 'keyword.other'
    '"COMPILED"': 'keyword.other'
    '"COMPILED_DATA"': 'keyword.other'
    '"COMPILED_DATA_UHC"': 'keyword.other'
    '"COMPILED_EXPORT"': 'keyword.other'
    '"COMPILED_JS"': 'keyword.other'
    '"COMPILED_TYPE"': 'keyword.other'
    '"COMPILED_UHC"': 'keyword.other'
    '"DISPLAY"': 'keyword.other'
    '"ETA"': 'keyword.other'
    '"HASKELL"': 'keyword.other'
    '"IMPORT"': 'keyword.other'
    '"IMPORT_UHC"': 'keyword.other'
    '"FOREIGN"': 'keyword.other'
    '"COMPILE"': 'keyword.other'
    '"IMPOSSIBLE"': 'keyword.other'
    '"INJECTIVE"': 'keyword.other'
    '"INLINE"': 'keyword.other'
    '"MEASURE"': 'keyword.other'
    '"NO_TERMINATION_CHECK"': 'keyword.other'
    '"NO_POSITIVITY_CHECK"': 'keyword.other'
    '"NON_TERMINATING"': 'keyword.other'
    '"OPTIONS"': 'keyword.other'
    '"POLARITY"': 'keyword.other'
    '"REWRITE"': 'keyword.other'
    '"STATIC"': 'keyword.other'
    '"TERMINATING"': 'keyword.other'
